/* ===== Background ===== */
body.bg{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:10px;
  background: linear-gradient(135deg,#ff4ecd,#5f6bff);
}


/* ===== Title ===== */
h2{
  color:white;
  font-size:30px;
  font-weight:900;
  text-align:center;
  margin:15px 0;
}


/* ===== FULL WIDTH CARD ===== */
.card{
  background:white;

  width:100%;
  padding:25px;

  border-radius:25px;

  box-shadow:0 12px 35px rgba(0,0,0,0.45);

  margin-bottom:20px;
}


/* ===== BIG INPUT ===== */
input, select{
  width:100%;
  height:70px;

  font-size:24px;
  font-weight:900;

  padding:12px;
  margin:14px 0;

  border-radius:18px;
  border:3px solid #ccc;
}


/* ===== BIG BUTTON ===== */
button{
  width:100%;
  height:70px;

  font-size:24px;
  font-weight:900;

  background:black;
  color:white;

  border:none;
  border-radius:18px;

  margin-top:14px;
}


/* ===== TOTAL TEXT ===== */
h3{
  color:white;
  font-size:24px;
  font-weight:900;
}


/* ===== ENTRY LIST ===== */
#list{
  margin-top:15px;
}


/* ===== ENTRY ROW (CARD) ===== */
#list div{
  background:white;

  padding:18px;
  margin:12px 0;

  font-size:22px;
  font-weight:900;

  border-radius:18px;

  box-shadow:0 8px 22px rgba(0,0,0,0.35);
}


/* OT highlight */
.ot{
  background:#ffb3b3 !important;
}
