body{
  font-family: Arial;
  background:#f3f3f3;
  padding:15px;
}

h2{
  text-align:center;
}

.form-box{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
  margin-bottom:15px;
}

input,select,button{
  padding:8px;
  font-size:14px;
}

button{
  background:#4CAF50;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

table{
  width:100%;
  border-collapse:collapse;
  background:white;
}

th,td{
  border:1px solid #ccc;
  padding:8px;
  text-align:center;
}

th{
  background:#ffd9d9;
}

.total{
  background:#ffeaa7;
  font-weight:bold;
}
