body.bg{
  font-family:Arial;
  margin:0;
  padding:10px;
  background:linear-gradient(135deg,#ff4ecd,#5f6bff);
}

h2{
  color:#fff;
  font-size:30px;
  text-align:center;
  font-weight:900;
}

.card{
  background:#fff;
  padding:20px;
  border-radius:20px;
  margin-bottom:15px;
  box-shadow:0 8px 25px rgba(0,0,0,.3);
}

input,select,button{
  width:100%;
  height:60px;
  margin:8px 0;
  font-size:20px;
  font-weight:700;
  border-radius:12px;
}

button{
  background:#111;
  color:#fff;
  border:none;
}

#list div{
  background:#fff;
  padding:14px;
  margin:8px 0;
  border-radius:12px;
  font-weight:700;
}

.ot{
  background:#ffb3b3 !important;
}
