/* ===== Background ===== */
body.bg{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:8px;
  background: linear-gradient(135deg,#ff4ecd,#5f6bff);
}


/* ===== TITLE ===== */
h2{
  color:white;
  font-size:34px;
  font-weight:900;
  text-align:center;
  margin:18px 0;
}


/* ===== HUGE CARD ===== */
.card{
  background:white;
  width:100%;

  padding:30px;

  border-radius:28px;

  box-shadow:0 15px 40px rgba(0,0,0,0.5);

  margin-bottom:22px;
}


/* ===== EXTRA LARGE INPUTS ===== */
input, select{
  width:100%;

  height:85px;

  font-size:28px;
  font-weight:900;

  padding:14px;
  margin:16px 0;

  border-radius:20px;
  border:3px solid #bbb;

  color:#000;
}


/* ===== EXTRA LARGE BUTTON ===== */
button{
  width:100%;
  height:85px;

  font-size:28px;
  font-weight:900;

  background:black;
  color:white;

  border:none;
  border-radius:20px;

  margin-top:18px;
}


/* ===== TOTAL TEXT ===== */
h3{
  color:white;
  font-size:26px;
  font-weight:900;
}


/* ===== ENTRY LIST ===== */
#list{
  margin-top:18px;
}


/* ===== ENTRY ROW BIG BLOCK ===== */
#list div{
  background:white;

  padding:22px;
  margin:14px 0;

  font-size:26px;
  font-weight:900;

  border-radius:20px;

  box-shadow:0 10px 25px rgba(0,0,0,0.4);
}


/* OT highlight */
.ot{
  background:#ffb3b3 !important;
}
