body.bg{
font-family:sans-serif;
background:linear-gradient(135deg,#ff6ec4,#7873f5);
padding:15px;
}

input,select,button{
width:100%;
height:55px;
margin:8px 0;
border-radius:15px;
font-size:18px;
border:none;
padding:10px;
}

button{
background:#222;
color:#fff;
}

.login-box{
margin-top:120px;
}

.card{
background:white;
padding:15px;
border-radius:20px;
}

.row{
background:white;
margin:5px 0;
padding:8px;
border-radius:12px;
}

.highlight{
background:#ffb3b3;
}
